<section>
    <div class="team">
        <div class="heading mb-40">Echipa</div>
        <div class="subheading">
            Suntem o echipă de tineri care vrea să se extindă.<b> Căutăm colegi!</b> OpportUNITY este<br />
            rezultatul unui hackathon organizat pe 28 noiembrie 2020 prin proiectul<br />
            <b>ELAN - Incubator de Imaginație Civică pentru Tineri</b>, organizat de FITT.
        </div>
    </div>

    <div class="carousel">
        <div class="images dots">
            <div class="arrow">
                <mat-icon>arrow_left</mat-icon>
            </div>
            <div class="member">
                <img src="assets/images/girl.png" />
            </div>
            <div class="member">
                <img src="assets/images/girl.png" />
            </div>
            <div class="volunteer">
                <img src="assets/images/Placeholder.png" />
            </div>
            <div class="member">
                <img src="assets/images/girl.png" />
            </div>
            <div class="member">
                <img src="assets/images/girl.png" />
            </div>
            <div class="arrow">
                <mat-icon>arrow_right</mat-icon>
            </div>
        </div>
    </div>

    <div class="join-us">
        <mat-icon>north</mat-icon>
        <div>Aici poate fi poza ta!</div>
        <div class="join"><b>Vrei să te alături?</b></div>
    </div>
</section>
