@import 'styles/variables';

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading {
    text-align: center;
}

.carousel {
    position: relative;
    justify-content: space-around;
    padding-top: 50px;
}

.dots {
    background-image: url('/assets/images/Dots.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.images {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}

.member {
    width: 10%;
    height: 10%;
    padding-top: 1.25%;
}

img {
    width: 100%;
}

.volunteer {
    width: 13%;
    height: 13%;
}

.arrow {
    padding-top: 5.5%;
}

.arrow mat-icon {
    font-size: 60px;
    color: $purple-1;
}

.join-us {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us mat-icon {
    font-weight: bold;
    color: $orange-1;
    padding-bottom: 2%;
}

.join {
    color: $purple-1;
}

.component {
    padding-bottom: 150px;
}
