@import '../../../../styles/variables.scss';

.full-width {
    width: 100%;
}

button {
    position: relative;
}

mat-spinner {
    position: absolute;
    left: 10px;
}

::ng-deep.mat-spinner circle {
    stroke: $white;
}
