.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::ng-deep body {
    padding: 0 calc(100vh / 12) 0;
}

.auth-form {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
}
