@import 'variables.scss';

input {
    font-family: Nunito, sans-serif;
    font-size: 16px;
    color: $dark-1;
    height: 50px;
    padding: 0 15px;
    border: 1px solid $gray-2;
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid rgba($dark-1, 0.6);
    }
}
