@import 'variables.scss';

@mixin purple-orange-gradient {
    background: linear-gradient(30deg, rgba($purple-1, 0.6), rgba($orange-2, 0.6));
}

@mixin gray-white-gradient {
    background: linear-gradient(120deg, $gray-1, $white);
}

@mixin shadow {
    box-shadow: 0 13px 27px 0 rgba(116, 49, 215, 0.25), 0 13px 27px 0 rgba(116, 49, 215, 0.25);
}
