@import 'variables.scss';

@mixin purple-orange-gradient {
    background: linear-gradient(30deg, rgba($purple-1, 0.6), rgba($orange-2, 0.6));
}

@mixin gray-white-gradient {
    background: linear-gradient(120deg, $gray-1, $white);
}

@mixin purple-shadow-l {
    box-shadow: 0 7px 21px 0 rgba($purple-1, 0.25), 0 7px 21px 0 rgba($purple-1, 0.25);
}

@mixin dark-shadow-s {
    box-shadow: 0 10px 15px -3px rgba($dark-1, 0.1), 0 4px 6px -2px rgba($dark-1, 0.05);
}
