/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
        50 : #eee6fa,
        100 : #d5c1f3,
        200 : #ba98eb,
        300 : #9e6fe3,
        400 : #8950dd,
        500 : #7431d7,
        600 : #6c2cd3,
        700 : #6125cd,
        800 : #571fc7,
        900 : #4413be,
        A100 : #f2eeff,
        A200 : #ccbbff,
        A400 : #a688ff,
        A700 : #936eff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-orange: (
        50 : #fff3eb,
        100 : #ffe1cd,
        200 : #ffcdac,
        300 : #ffb88a,
        400 : #ffa971,
        500 : #ff9a58,
        600 : #ff9250,
        700 : #ff8847,
        800 : #ff7e3d,
        900 : #ff6c2d,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffe3d9,
        A700 : #ffd1bf,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

