/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
    50: #eee6fa,
    100: #d5c1f3,
    200: #ba98eb,
    300: #9e6fe3,
    400: #8950dd,
    500: #7431d7,
    600: #6c2cd3,
    700: #6125cd,
    800: #571fc7,
    900: #4413be,
    A100: #f2eeff,
    A200: #cbf,
    A400: #a688ff,
    A700: #936eff,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000,
    ),
);

$md-orange: (
    50: #fff3eb,
    100: #ffe1cd,
    200: #ffcdac,
    300: #ffb88a,
    400: #ffa971,
    500: #ff9a58,
    600: #ff9250,
    700: #ff8847,
    800: #ff7e3d,
    900: #ff6c2d,
    A100: #fff,
    A200: #fff,
    A400: #ffe3d9,
    A700: #ffd1bf,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #000,
        500: #000,
        600: #000,
        700: #000,
        800: #000,
        900: #000,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000,
    ),
);
