/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
    50 : #EEE6FA,
    100 : #D5C1F3,
    200 : #BA98EB,
    300 : #9E6FE3,
    400 : #8950DD,
    500 : #7431D7,
    600 : #6C2CD3,
    700 : #6125CD,
    800 : #571FC7,
    900 : #4413BE,
    A100 : #F2EEFF,
    A200 : #CBF,
    A400 : #A688FF,
    A700 : #936EFF,
    contrast: (
        50 : #000,
        100 : #000,
        200 : #000,
        300 : #000,
        400 : #FFF,
        500 : #FFF,
        600 : #FFF,
        700 : #FFF,
        800 : #FFF,
        900 : #FFF,
        A100 : #000,
        A200 : #000,
        A400 : #000,
        A700 : #000,
    )
);

$md-orange: (
    50 : #FFF3EB,
    100 : #FFE1CD,
    200 : #FFCDAC,
    300 : #FFB88A,
    400 : #FFA971,
    500 : #FF9A58,
    600 : #FF9250,
    700 : #FF8847,
    800 : #FF7E3D,
    900 : #FF6C2D,
    A100 : #FFF,
    A200 : #FFF,
    A400 : #FFE3D9,
    A700 : #FFD1BF,
    contrast: (
        50 : #000,
        100 : #000,
        200 : #000,
        300 : #000,
        400 : #000,
        500 : #000,
        600 : #000,
        700 : #000,
        800 : #000,
        900 : #000,
        A100 : #000,
        A200 : #000,
        A400 : #000,
        A700 : #000,
    )
);

