.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
