$purple-1: #7431d7;
$orange-1: #ff9a58;
$orange-2: #eeb87d;
$blue-1: #3c91e6;
$red-1: #d7263d;
$dark-1: #272635;
$yellow-1: #ffd037;
$green-1: #358600;
$pink-1: #fc6681;
$white: white;
$gray-1: #fafafa;
$gray-2: #afafaf;
