$purple-1: #7431D7;
$orange-1: #FF9A58;
$orange-2: #EEB87D;
$blue-1: #3C91E6;
$red-1: #D7263D;
$dark-1: #272635;
$yellow-1: #FFD037;
$pink-1: #FC6681;
$white: white;
$gray-1: #FAFAFA;
$gray-2: #AFAFAF;
