@import 'styles/styles';

.row {
    @include purple-orange-gradient;
    display: flex;
    width: 80%;
    height: 60%;
    margin: 0 auto 5%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

textarea {
    height: 40%;
    margin: 5px 0;
    padding: 25px;
    resize: none;
    border-radius: 4px;
}

.input-margin {
    margin: 1% 0 3%;
}

.description {
    font-size: 20px;
    color: $dark-1;
    margin: 0 15% 5% 10%;
}

.title-margin {
    margin: 7% 0 15% 10%;
}

.contact-button {
    width: 100%;
    margin: 3% 0;
    padding: 2% 0;
}

