<div class="row">
    <div class="col1">
        <div class="contact1">Contactează-ne!</div>
        <div class="contact2">Ai vreo întrebare despre platformă? Vrei să iei legătura cu noi?</div>
        <div class="contact3">Completează formularul sau scrie-ne direct la <strong>contact@opportunity.ro</strong> sau
            pe <strong>Facebook!</strong></div>
    </div>
    <div class="col2">

        <label for="name" hidden></label>
        <input class="input_field" id="name" #lastName placeholder="Nume" type="text"/>
        <label for="email" hidden></label>
        <input id="email" class="input_field" #firstName placeholder="Email" type="text"/>
        <label for="subject" hidden></label>
        <input id="subject" class="input_field" #email placeholder="Subiect" type="text"/>
        <label for="message" hidden></label>
        <textarea class="message" id="message" #message placeholder="Mesaj"></textarea>
        <button class="buttonCenter" (click)="onSubmit(lastName,firstName,email,message)">Trimite mesaj</button>

    </div>
    <div>

    </div>
</div>
