<button>DESCOPERĂ -></button>
<button class="small" style="margin: 20px 0;">Adaugă oportunitate</button>

<div class="gradient-test"
     style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 20px;
    "
>
    <div>Gradient test</div>
    <mat-icon>close</mat-icon>
    <mat-icon>check_circle</mat-icon>
    <mat-icon>favorite</mat-icon>
    <input placeholder="Email"/>
</div>
<app-banner></app-banner>
<app-about></app-about>
<app-team></app-team>
