<nav [class.has-shadow]="hasShadow">
    <div class="logo" [routerLink]="''">OPPORTUNITY</div>

    <div>
        <ng-container *ngFor="let item of menuItems">
            <div *ngIf="item.type !== 'button'" [routerLink]="item.link" class="nav-link"
                 [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"> {{ item.name }}</div>
            <app-button *ngIf="item.type === 'button'" [small]="true" [label]="item.name"></app-button>
        </ng-container>
    </div>
</nav>
