.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    padding: 0 11px;
    border: 2px solid;
    border-radius: 25px;

    p {
        font-size: 12px;
    }
}

